{
    "extends": "nicjansma",
    "env": {
        "node": true,
        "browser": true,
        "amd": true
    },
    "rules": {
        //
        // Disabled over nicjansma
        //

        // disabled for use of _jQuery
        "no-underscore-dangle": 0
    }
}
